<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cqut.weknow.customer.po.mapper.AdminsCustomerMapper">

<!-- 	<sql id="query_ext_where">
		<if test="adminsCustomer!=null">
			<if test="adminsCustomer.username!=null and adminsCustomer.username!=''">
				and admins.userName LIKE '%${adminsCustomer.username}%'
			</if>
		</if>
	</sql>
	<select id="list" parameterType="cn.edu.cqut.weknow.po.customer.AdminsQueryVo" resultType="cn.edu.cqut.weknow.po.customer.AdminsCustomer">
		select admins.* from admins
		<where>
			<include refid="query_ext_where" />
		</where>
	</select>
	添加新用户
	<insert id="add" parameterType="cn.edu.cqut.weknow.po.customer.AdminsCustomer">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
		insert into admins(userName,userPwd)
		values(#{username},#{userpwd})
	</insert>
	<select id="checkOldPassword" parameterType="cn.edu.cqut.weknow.po.customer.AdminsQueryVo" resultType="java.lang.Integer">
		select count(*) 
		from admins 
		where admins.id=#{adminsCustomer.id,jdbcType=INTEGER} and admins.userPwd=#{adminsCustomer.userpwd,jdbcType=VARCHAR}
	</select>
	<update id="updatePassword" parameterType="cn.edu.cqut.weknow.po.customer.AdminsCustomer">
		update admins
		<set>
			<if test="userpwd != null" >
				admins.userPwd = #{userpwd,jdbcType=VARCHAR}
			</if>
		</set>
		where admins.id = #{id,jdbcType=INTEGER}	
	</update> -->
</mapper>