<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.3.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<bean id="adminsService" class="cn.edu.cqut.weknow.service.impl.AdminsServiceImpl" />
	<bean id="feedbacksService" class="cn.edu.cqut.weknow.service.impl.FeedbacksServiceImpl" />
	<bean id="domainsService" class="cn.edu.cqut.weknow.service.impl.DomainsServiceImpl" />
	<bean id="usersService" class="cn.edu.cqut.weknow.service.impl.UsersServiceImpl" />
	<bean id="userAuthsService" class="cn.edu.cqut.weknow.service.impl.UserAuthsServiceImpl" />
</beans>           